
IzinTakip.Business/bin/Debug/netcoreapp3.1/IzinTakip.Business.deps.json
*.dll
*.pdb
*.cache
IzinTakip.Business/bin/Debug/netcoreapp3.1/IzinTakip.DataAccess.dll
IzinTakip.Business/bin/Debug/netcoreapp3.1/IzinTakip.DataAccess.pdb
IzinTakip.Business/obj/Debug/netcoreapp3.1/IzinTakip.Business.csprojAssemblyReference.cache
IzinTakip.DataAccess/bin/Debug/netcoreapp3.1/IzinTakip.DataAccess.dll
IzinTakip.DataAccess/bin/Debug/netcoreapp3.1/IzinTakip.DataAccess.pdb
IzinTakip.DataAccess/obj/Debug/netcoreapp3.1/IzinTakip.DataAccess.csprojAssemblyReference.cache
IzinTakip.DataAccess/obj/Debug/netcoreapp3.1/IzinTakip.DataAccess.dll
IzinTakip.DataAccess/obj/Debug/netcoreapp3.1/IzinTakip.DataAccess.pdb
IzınTakip/.vs/IzınTakip/v16/.suo
IzınTakip/obj/Debug/netcoreapp3.1/IzinTakip.UI.csprojAssemblyReference.cache
