@model IzinTakip.UI.AnnualLeaveViewModel

@{
    ViewData["Title"] = "Has public holiday!";
}

<!-- Basic form -->
<div class="col-md-12">
    <div class="panel panel-default">
        <header class="panel-heading">Following dates conflict with Public Holidays?</header>
        <div class="panel-body">
            <form asp-action="CreateWithPublicHolidays">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <hr />
                @{
                    if (Model.EmployeeAnnualDetails != null)
                    {
                        <div class="form-group">
                            <label class="control-label">Start Date</label>
                            <input type="Date" asp-for="EmployeeAnnualDetails.StartDate" class="form-control" disabled />

                            <label class="control-label">End Date</label>
                            <input type="Date" asp-for="EmployeeAnnualDetails.EndDate" class="form-control" disabled />
                        </div>
                    }

                    else if (Model.EmployeeSpecialLeaves != null)
                    {
                        <div class="form-group">
                            <label class="control-label">Start Date</label>
                            <input type="Date" asp-for="EmployeeSpecialLeaves.StartDate" class="form-control" disabled />

                            <label class="control-label">End Date</label>
                            <input type="Date" asp-for="EmployeeSpecialLeaves.EndDate" class="form-control" disabled />
                        </div>
                    }
                }
                <hr />
                <h4>Following public holidays will not be encounterd as annual leave !</h4>
                <div class="form-group">
                    @{
                        @for (int i = 0; i < Model.PublicHolidays.Count; i++)
                        {
                            <div class="form-check">
                                @Html.CheckBoxFor(x => Model.PublicHolidays[i].IsChecked)
                                <label class="form-check-label">@Model.PublicHolidays[i].summary - @Model.PublicHolidays[i].start.date</label>
                            </div>
                        }
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="AddLeave" class="btn btn-success" />
                    <a asp-controller="Employee" asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>

                @* Items for Special Leave. *@
                <input asp-for="EmployeeSpecialLeaves.Id" class="form-control" type="hidden" />
                <input asp-for="EmployeeSpecialLeaves.EmployeeId" class="form-control" type="hidden" />
                <input asp-for="EmployeeSpecialLeaves.Count" class="form-control" type="hidden" />
                <input asp-for="EmployeeSpecialLeaves.CreatedAt" class="form-control" type="hidden" />
                <input asp-for="EmployeeSpecialLeaves.UpdatedAt" class="form-control" type="hidden" />
                <input asp-for="EmployeeSpecialLeaves.IsOnLeave" class="form-control" type="hidden" />
                <input asp-for="EmployeeSpecialLeaves.StartDate" class="form-control" type="hidden" />
                <input asp-for="EmployeeSpecialLeaves.EndDate" class="form-control" type="hidden" />
                <input asp-for="EmployeeSpecialLeaves.Text" class="form-control" type="hidden" />
                <input asp-for="CurrentUsedDate" class="form-control" type="hidden" />
            </form>
        </div>
    </div>
</div>