@model IzinTakip.Entities.Concrete.EmployeeAnnualDetails
@{
    ViewData["Title"] = "Delete Employee Details";
}

<div class="col-md-12">
    <div class="panel panel-default">
        <header class="panel-heading">Are you sure you want to delete @Model.Employees.Name 's details?</header>
        <div class="panel-body">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Delete</button>
                <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-default">Back to List</a>
            </form>
        </div>
    </div>
</div>